@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

.lexend {
  font-family: "Lexend Deca", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.section-width {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-inline: clamp(1rem, 4vw, 3rem);
}

/* animations.css */

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Começa 20px abaixo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina na posição original */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeInSlideUp {
  animation: fadeInSlideUp 1s ease-out forwards; /* 1 segundo de duração, easing, mantém o estado final */
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-out forwards; /* Para a imagem, um pouco mais lento */
}
/* animations.css */
